/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;}

/* ---------------------------------------------------- */


.tym {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.osoba {
	border: 1px solid black;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width:540px;
	height:540px;
}

.foto {
	border-radius: 50%;
}
